/**.pickup-later {
  padding: 10px;
  background-color: #000;
}*/

.pickup-later button {
  padding: 12px 16px;
  background-color: #000;
  border-radius: 12px;
  font-size: 12px;
  color: #fff;
  align-items: center;
  justify-content: center;
}