.header-title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.header-saldo {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    background-color: #dedede;
    padding: 8px 10px;
    border-radius: 10px;
}


.uber-search-bar {
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px; 
}


.uber-search-bar-container {
    width: 100%;
    max-width: 720px; 
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    padding: 8px;

    display: flex;
    align-items: center;
    gap: 8px;
}

.uber-map-search-bar {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.uber-search-bar input {
    flex: 1;
    background-color: transparent; 
    padding: 12px 16px;
    border: none;
    outline: none;
    font-size: 16px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    margin-bottom: 2rem;
}

iframe {
    width: 100%;
    border: none;
    height: 100vh;
    filter: brightness(0.8) contrast(1.2);
}

iframe:hover {
    width: 100%;
    border: none;
    filter: none;
}


