.bottom-nav {
  position:relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid #e0e0e0;
  cursor: pointer;

}


/******* estilização dos icones *****/

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  opacity: 0.6;
}
.nav-item.active {
  opacity: 1;
}
.nav-item img {
  width: 24px;
  height: 24px;
}
.nav-item span {
  font-size: 12px;
  font-weight: 550;
  color: #333333;
  text-align: center;
}
.nav-item.active span {
  color: #000;
}
.nav-item:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .bottom-nav {
    max-width: 500px;
    margin: 0 auto;
   
  }
}