.button-next {
    background-color: #000;
    border-radius: 12px;
    font-size: 12px;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 14px 18px;
}

.button-next button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}