.search-bar-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-top: 20px;
}

.location-container,
.current-container {
    display: flex;
    align-items: center;
    background-color: #efefef;
    padding: 14px 18px;
    border-radius: 30px;
}

.current-container img,
.location-container img {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

.location-container input,
.current-container input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 15px;
    width: 100%;
    color: #333;
}